.Container{
    width: 100%;
    height: 1700px;
    background: #B2C4CC;
    border: 1px solid red;
}

.Container h1{
    font-size: 35px;
    padding-left: 40px;

}

.Comentar {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.icon{
    display: flex;
    margin-left: 25%;
    font-size: 35px;
    margin-top: -20%;
    margin-bottom: 3%;
}

.icon button{
    width: 80px;
    height: 30px;
    border-radius: 26px;
    border: none;
    cursor: pointer;
    margin-left: 50%;
}

.input textarea{
    width: 60%;
    margin-left: 25%;
    /* margin-top: 8%; */
}

.div1 img{
    width: 15%;
    margin: 15px;
    border-radius: 15px;
    margin-left: 5%;    
}

.div2 img{
    width: 19%;
    margin: 15px;
    border-radius: 15px;
}

.div3 img{
    width: 19%;
    margin: 15px;
    border-radius: 15px;
}